<html>

<link href="style.css" rel="stylesheet" type="text/css">

	<body>
		<h1>Hello with mustache</h1>
		<p>bonjour tout le monde, nous somme sur un raspberry!<p>
		<input type="button" value="achetez">
		<a href="#">Cliquez-ici<a>
	</body>
</html>
