h1 {
font-family: Comic Sans MS;
font-size: 3em;
text-transform: uppercase;
color: red;
text-align: center;
margin: 20px
}

p {
margin: 10px;
font-family: Arial;
font-size: 1.25em;
color: blue;
text-align: center;
}

input {
margin: 0 auto;
height: 60px;
width: 200px;
border: 1px solid black;
background-color: green;
transition: all 0.5s;
}

input:hover {
background-color: yellow;
}

a {
text-decoration: none;
}
